<section class="container-fluid" id="main-container">
    <div class="table-responsive">
    <table class="table table-sm ">
        <thead>
    <tr>
        <th>id Photo</th>
        <th>data</th>
        <th>delete</th>
        <th>modify</th>
        
        
    </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let p of photoList">
            <th>{{p.idPhotos}}</th>
            <th><img src="{{'data:image/jpeg;base64,'+p.data}}" /></th>
            <th></th>
            <th></th>

        </tr> 
    </table>
    </div> 
    </section>
